/*
Colors used:
Color 1 (Black): #000000;
Color 2 (White): #ffffff;
Color 3 (Red): #D83C29;
Color 4 (Purple): #5E51A3;
Color 5 (Dk. Purple): #7C0BA4;
Color 5 (Lt. Purple): #664CF4;
Color 6 (Gray): #9c9c9c;
font-family: 'Abril Fatface', cursive;
font-family: 'Lexend', sans-serif;
*/

* {
  box-sizing: border-box;
}

body {
background-color: #ffffff;
font-family: 'Lexend', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.6;
color: #000000;
}

img{
  width: 100%;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.25em;
  font-weight: 500;
}

h2 {
  font-size: 2em;
  font-weight: 500;
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
}

h4 {
  font-size: 1.25em;
  font-weight: 500;
}

a {
  color: #5E51A3;
  text-decoration: none;
}

a:visited {
  color: #7C0BA4;
}

a:hover,
a:focus
 {
  color: #664CF4;
  text-decoration: underline;
}

a:active {
  color: #5E51A3;
}

.button {
  display: inline-block;
  background-color: #5E51A3;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  color: #ffffff;
  text-decoration: none;
}

.button:visited {
  color: #ffffff
}

.button.contact {
  background-color: transparent;
  color: #5E51A3;
  text-transform: uppercase;
  border: 2px solid #5E51A3;
}

.button.contact:hover {
  background-color: #5E51A3;
  color: #ffffff;
}

/* Layout styling */

.container {
  padding: 0px 20px;
}

.container_project_text {
  max-width: 850px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto; 
}

.container_project {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.pic_spacing {
  padding-top: 80px;
}

.icon {
 display: inline-block;
 width: 3.25em;
 text-align: center;
 padding:4px
}

.row {
  margin: 25px 0;
}



#work .row { padding-bottom: 25px; border-bottom: 1px solid #e9e9e9; }

#hero h1 {
  text-align: center;
}

#opening {
  text-align: center;
}

.center {
  text-align: center;
}

.logo {
  max-width: 250px;
}

header {
  text-align: center;
  padding: 10px 0;
  position: relative;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow:    0px 3px 3px 0px rgba(50, 50, 50, 0.1);
  box-shadow:         0px 3px 3px 0px rgba(50, 50, 50, 0.1);
}

nav {
  display: inline-block;
  width: 100%
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

 #hero {
   text-align: center;
   padding: 20px 0;
   display: inline-block;
   width: 100%;
 }

 #hero span {
   display: block;
 }

 #work {
   padding: 0px 0px 4px 0px;
 }

 footer {
   background-color: #e9e9e9;
   padding: 10px 0;
   text-align: center;
   margin: 60px 0px 0px 0px;
 }

 #about-page h3 { margin-top: 0;}

 /* Media Queries */

 .row::after {
   content: "";
   clear: both;
   display: table;
 }

 @media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;}

  nav {
    width: auto;
    float: right;
    margin-top: 4px;}

  .col-md-6 {
    width: 50%;}

    [class*="col-"] {
      float: left;
      padding-left: 10px;
      padding-right: 10px;
    }}

 @media only screen and (min-width: 1024px) {
   .col-lg-7 {
     width: 58.33%;}

    .col-lg-5 {
      width: 41.66%;}

    .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}}


 @media only screen and (min-width: 1440px) {
 }

 .berlin-illustration {
   width: 100%;
   max-width: 100%;
   height: auto;
   }

   @keyframes color-change {
     from {fill: #edc655;}
     to {fill: #f76414;}}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate (200px,50px);}}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

  @keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate (100px,48px);}}

.cloud-back {
  animation-duration: 34s;
  animation-name: cloud-move-reverse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
